body{
	background-color:#eee;
	margin:0;
	padding:0;
}
.box{
	width:400px;
	margin:15px auto;
	padding:20px;
	border:1px solid #ccc;
	background-color:#fff;
}
.box h1{
	font-size:20px;
	text-align:center;
}
.profile-table{
	margin:0 auto;
}
.profile-table th{
	font-weight:normal;
	text-align:right;
}
.profile-table input[type="text"]{
	width:180px;
	border:1px solid #ccc;
	height:22px;
	padding-left:4px;
}
.profile-table .button{
	background-color:#0099ff;
	border:1px solid #0099ff;
	color:#fff;
	width:80px;
	height:25px;
	margin:0 5px;
	cursor:pointer;
}
.profile-table .td-btn{
	text-align:center;
	padding-top:10px;
}
.profile-table th,.profile-table td{
	padding-bottom:10px;
}
.profile-table td{
	font-size:14px;
}
.profile-table .txttop{
	vertical-align:top;
}
.profile-table select{
	border:1px solid #ccc;
	min-width:80px;height:25px;
}
.profile-table .description{
	font-size:13px;
	width:250px;
	height:60px;
	border:1px solid #ccc;
}